
{% block header %}
    <div class="page-header navbar navbar-fixed-top">
        <!-- BEGIN HEADER INNER -->
        <div class="page-header-inner ">
            <!-- BEGIN LOGO -->
            <div class="page-logo">
                <a href="/">
                    <img class="logo-default" alt="logo" src="{{ asset('img/Drawing.png') }}"> </a>
                <div class="menu-toggler sidebar-toggler"> </div>
            </div>
            <!-- END LOGO -->
            <!-- BEGIN MEGA MENU -->
            <div class="hor-menu   hidden-sm hidden-xs">
                <ul class="nav navbar-nav">

                    <li class="classic-menu-dropdown active">
                        <a href="/"> Active
                            <span class="selected"> </span>
                        </a>
                    </li>

                    <li class="classic-menu-dropdown">
                        <a href="/"> Active
                            <span class=""> </span>
                        </a>
                    </li>
                    <li class="classic-menu-dropdown">
                        <a href="/"> Active
                            <span class=""> </span>
                        </a>
                    </li>
                </ul>
            </div>
            <!-- END MEGA MENU -->


            <!-- BEGIN HEADER SEARCH BOX -->
            <!-- DOC: Apply "search-form-expanded" right after the "search-form" class to have half expanded search box -->
            <form class="search-form search-form-expanded" action="" method="GET">
                <div class="input-group">
                    <input name="query" class="form-control" type="text" placeholder="Search...">
                        <span class="input-group-btn">
                            <a class="btn submit" href="javascript:;">
                                <i class="icon-magnifier"></i>
                            </a>
                        </span>
                </div>
            </form>
            <!-- END HEADER SEARCH BOX -->



        </div>
        <!-- END HEADER INNER -->
    </div>

{% endblock %}
