
{% block header %}
    <div class="page-header navbar navbar-fixed-top">
        <!-- BEGIN HEADER INNER -->
        <div class="page-header-inner ">
            <!-- BEGIN LOGO -->
            <div class="page-logo">
                <a href="/">
                    <img class="logo-default" alt="logo" src="{{ asset('img/Drawing.png') }}"> </a>
                <div class="menu-toggler sidebar-toggler"> </div>
            </div>
            <!-- END LOGO -->
            <!-- BEGIN MEGA MENU -->

            {% set page = app.request.attributes.get('_route') %}

            <div class="hor-menu   hidden-sm hidden-xs">
                <ul class="nav navbar-nav">

                    <li class="classic-menu {% if (page in ['playlists', 'playlist']) %}active{% endif %}">
                        <a href="/playlists"> Playlists
                            <span class="{% if (page in ['playlists', 'playlist']) %}selected{% endif %}"> </span>
                        </a>
                    </li>

                    <li class="classic-menu {% if (page in ['artists', 'albums', 'album']) %}active{% endif %}">
                        <a href="/artists"> Followed artists
                            <span class="{% if (page in ['artists', 'albums', 'album']) %}selected{% endif %}"> </span>
                        </a>
                    </li>


                    <li class="classic-menu">
                        <a href="/"> Active
                            <span class=""> </span>
                        </a>
                    </li>


                </ul>
            </div>
            <!-- END MEGA MENU -->


            <!-- BEGIN HEADER SEARCH BOX -->
            {{  render(controller("AppBundle:Search:searchForm"))  }}
            <!-- END HEADER SEARCH BOX -->



        </div>
        <!-- END HEADER INNER -->
    </div>

{% endblock %}
