{% extends 'base.html.twig' %}

{% block body %}



    <div class="container" style="margin-bottom:20px; margin-top:20px;max-width:1200px">
        <div class="row">


            <div class="panel panel-default">
                <!-- Default panel contents -->
                {%  set artists = [] %}
                {% for artist in album.artists %}
                    {% set artists = artists|merge([artist.name]) %}
                {% endfor %}

                <div class="panel-heading">{{ artists|join(' & ') }}</div>
                <div class="panel-body">
                    <p>{{ album.name }}</p>
                </div>


                <table class="table">

                    <tr>
                        <th>Track</th>
                        <th>Name</th>
                    </tr>

                    {% for track in album.tracks.items %}
                        <tr>
                            <td> {{ track.track_number }}</td>
                            <td>{{ track.name }}</td>
                        </tr>
                    {% endfor %}

                </table>


            </div>

        </div>
    </div>

{% endblock %}